---
import Layout from "../layouts/Layout.astro";
import Headers from "../layouts/_Header.astro";
import { Image } from 'astro:assets';

// import { Image } from "astro:assets";
import Card from "../components/Card.astro";
// import { Image } from "@astrojs/image/components";

import { sorted_image_list,image_list } from "../lib/makelist";
const group_name = "乃木坂46";
const nogizaka_blog_url =
  "https://www.nogizaka46.com/s/n46/diary/MEMBER?ima=2605";
import myImage from "../assets/20230222_1655_01_早川 聖来.jpg";

// image_list.map((image) => console.log(image[0]));
// image_list.map((image) => console.log(image[1]));
// console.log(image_list);
// const res = await getBlog();
// console.log(res.content);
// import { re } from "../lib/makelist";
// console.log(re);
---

<Layout title="坂道IMAGE">
  <Headers></Headers>
  <a href={nogizaka_blog_url}>
    <h1>
      Welcome to <span class="text-gradient text-purple-300">坂道IMAGE</span>
    </h1>
  </a>

  <dev class="blog_images">
    <a href="https://px.a8.net/svt/ejp?a8mat=3T6JKZ+51L8AA+3J8+4YNBS1" rel="nofollow">
      <img  width="300" height="250" alt="" src="https://www20.a8.net/svt/bgt?aid=230412707305&wid=001&eno=01&mid=s00000000458030006000&mc=1"></a>
      <!-- <img class="a8advertisement" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3T6JKZ+51L8AA+3J8+4YNBS1" alt="">     
       <Image
            src={myImage}
            alt={group_name}
          /> -->
    {
      sorted_image_list.map((name_imgurl) => (
        // console.log(name_imgurl[3]);
        // return(
        <dev>
      
        <a class="imageover" href={name_imgurl[3]}>
          <Image
            src={name_imgurl[4]}
            format={'jpg'} 
            alt={group_name + " " + name_imgurl[0]} 
            width={300} height={300}
            
          />
          <dev class="image-info">
            <h3 class="name">{name_imgurl[0]}</h3>
            <h3 class="date">{name_imgurl[2]}</h3>
          </dev>
        </a>
      </dev>
      // );
      ))
    }
  </dev>
</Layout>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  .blog_images {
    display: flex;
    flex-wrap: wrap;
  }
  .imageover {
    position: relative;
    width: calc(49.9%);

    gap: 2px;
    padding: 1px;
    /* background-color: palevioletred; */
  }
  img {
    width: calc(100%);
    height: calc(100%);
    object-fit: cover;
    border-radius: 30px;
    transition: transform 1s, border-radius 1s;
  }
  img:hover {
    transform: translate(0.3rem, -0.3rem);
    border-radius: 100px;
  }

  .image-info {
    position: absolute;
    bottom: 25px;
    left: 25px;
  }
  .image-info .name {
    color: hotpink;
    font-size: 2rem;
  }
  .ad1{
      width: 350px; 
      height: 240px;
    }
  .a8advertisement{
      width:1px; height:1px;
    }
  @media (max-width: 600px) {
    .imageover {
      width: calc(100%);
    }
    img {
      border-radius: 10px;
    }
    img:hover {
      transform: translate(0.2rem, -0.2rem);
      border-radius: 30px;
    }
    .image-info .name {
      font-size: 1rem;
    }

  }

</style>

