---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
// import { Image } from "@astrojs/image/components";

import { image_list } from "../lib/makelist";
const group_name = "乃木坂46";
const nogizaka_blog_url =
  "https://www.nogizaka46.com/s/n46/diary/MEMBER?ima=2605";

// image_list.map((image) => console.log(image[0]));
// image_list.map((image) => console.log(image[1]));
// console.log(image_list);
// const res = await getBlog();
// console.log(res.content);
// import { re } from "../lib/makelist";
// console.log(re);
---

<Layout title="坂道IMAGE">
  <a href={nogizaka_blog_url}>
    <amp-ad width="100" height="60" type="a8" data-aid="210602818207" data-wid="001" data-eno="01" data-mid="s00000008903001050000" data-mat="3HDY6A-3F8R02-1WP2-691UP" data-type="static"></amp-ad>
    <h1>
      Welcome to <span class="text-gradient">坂道IMAGE</span>
    </h1>
  </a>
  <dev class="blog_images">
    {
      image_list.map((name_imgurl) => (
        <a class="imageover" href={name_imgurl[3]}>
          <Image
            src={name_imgurl[4]}
            alt={group_name + " " + name_imgurl[0]}
            format="jpeg"
            height={500}
            width={500}
          />
          <dev class="image-info">
            <h3 class="name">{name_imgurl[0]}</h3>
            <h3 class="date">{name_imgurl[2]}</h3>
          </dev>
        </a>
      ))
    }
  </dev>
</Layout>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  .blog_images {
    display: flex;
    flex-wrap: wrap;
  }
  .imageover {
    position: relative;
    width: calc(49.9%);

    gap: 2px;
    padding: 1px;
    /* background-color: palevioletred; */
  }
  img {
    width: calc(100%);
    height: calc(100%);
    object-fit: cover;
    border-radius: 30px;
    transition: transform 1s, border-radius 1s;
  }
  img:hover {
    transform: translate(0.3rem, -0.3rem);
    border-radius: 100px;
  }

  .image-info {
    position: absolute;
    bottom: 25px;
    left: 25px;
  }
  .image-info .name {
    color: hotpink;
    font-size: 2rem;
  }
  @media (max-width: 600px) {
    .imageover {
      width: calc(100%);
    }
    img {
      border-radius: 10px;
    }
    img:hover {
      transform: translate(0.2rem, -0.2rem);
      border-radius: 30px;
    }
    .image-info .name {
      font-size: 1rem;
    }
  }
</style>
